
@mixin replace-by-dot($width:'100%',$height:'100%') {
  display: inline-block;
  width: $width;
  height: $height ;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
